@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$sidebar-width: 250px;
$sidebar-bg-color: #212424;
$sidebar-text-color: #fff;
$sidebar-toggle-btn-size: 30px;
$sidebar-closed-width: $sidebar-toggle-btn-size + 10px;

.sidebar {
  font-family: 'Inter', sans-serif;
  width: $sidebar-width;
  background-color: $sidebar-bg-color;
  color: $sidebar-text-color;
  border-right: 1px dashed rgb(255, 246, 230);
  min-height: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  &.closed {
    width: $sidebar-closed-width;
    
    .sidebar-nav li {
      width: $sidebar-closed-width; /* Restrict li elements width */
    }
  }

  .toggle-button {
    background-color: $sidebar-bg-color;
    color: $sidebar-text-color;
    font-size: $sidebar-toggle-btn-size;
    cursor: pointer;
    padding: 10px;
    align-self: flex-end;
  }

  .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    flex-grow: 1;
    overflow: hidden;

    li {
      padding: 15px;
      cursor: pointer;
      text-align: left;
      padding-left: 20px;
      width: 100%;
      box-sizing: border-box;
      white-space: nowrap; /* Prevent text wrapping */
      overflow: hidden; /* Ensure no content spills out */
      text-overflow: ellipsis;
      transition: opacity 0.3s ease-in-out; /* Smooth transition for visibility */
      opacity: 0;
      visibility: hidden;

      &:hover {
        background-color: lighten($sidebar-bg-color, 10%);
      }

      &.enabled {
        opacity: 1;
        visibility: visible;
      }

      .link {
        width: 100%;
        color: $sidebar-text-color;
        text-decoration: none;
      }
    }
  }
}
